name: CI
on: [push, pull_request]
env:
  GH_TOKEN: ${{ secrets.CI_NOW_GH_TOKEN }}
  GH_PR_NUMBER: ${{ github.event.number }}
  GH_PR_REPO: ${{ github.event.pull_request.head.repo.full_name }}
  GH_PR_SHA: ${{ github.event.pull_request.head.sha }}
jobs:
  unit_tests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "22.21.1"
      - name: "Enable yarn v4"
        run: |
          corepack enable
          yarn set version 4.9.2
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .eslintcache
            .yarn/cache
            ~/.npm
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: "Install"
        run: yarn install --immutable
      - name: "Check-all"
        run: yarn check-all
